body{
    color: rgba(182, 47, 35, 0.863);
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
table{
    border-collapse: collapse;
    margin:auto;
    border: 10px solid rgb(24, 145, 216);
}
hr{
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 10px;    
}
textarea{
    width: 100%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 8px solid rgb(233, 17, 17);
    border-radius: 4px;
    background-color: #9fb2f0;
    font-size: 16px;
    resize: none;
    text-align: center;
}
h2{
    font-size: 50px;
    color: blueviolet;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h1{
    font-size: 70px;
    color: rgb(45, 214, 22);
    font-family: Arial, Helvetica, sans-serif;
}